.drawer{
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  
  .items{
    overflow: auto;
    margin-bottom: 40px;
    flex: 1;
  }
  
  h2{
    justify-content: space-between;
    display: flex;
    margin: 0;
    font-size: 24px;
    img{
      cursor: pointer;
    }
    .removeBtn{  width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover{
      opacity: 1;
    }

  }
}
}